In [ ]:
 
1. How many actors are there with the last name ‘Wahlberg’? 
SELECT * COUNT(last_name)
FROM film_actor
WHERE last_name LIKE ‘Wahlberg’

2. How many payments were made between $3.99 and $5.99?

SELECT(*) Count (amount)
FROM payments
WHERE amount BETWEEN 3.99 and 5.99


3. What film does the store have the most of? (search in inventory) 
SELECT(*) COUNT (
FROM inventory
WHERE film_id



4. How many customers have the last name ‘William’? 
SELECT(*)Count(last_name)
From payments
WHERE last_name LIKE ‘William’

5. What store employee (get the id) sold the most rentals? 
SELECT(*) COUNT(staff_id)
FROM staff
ORDER BY COUNT(staff_id) DESC:

6. How many different district names are there? 
SELECT(*)
FROM city
ORDER BY 
7. What film has the most actors in it? (use film_actor table and get film_id)

8. From store_id 1, how many customers have a last name ending with ‘es’? (use customer table) 
SELECT (*)
FROM payments
WHERE last_name LIKE ‘%es’

9. How many payment amounts (4.99, 5.99, etc.) had a number of rentals above 250 for customers  with ids between 380 and 430? (use group by and having > 250) 

SELECT(*) COUNT(prices)
FROM payments
WHERE prices >250
GROUP BY payment_id 


10. Within the film table, how many rating categories are there? And what rating has the most  movies total?

SELECT rating
FROM film